@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    height: 100vh;
    width: 100vw;
    background-color: black;

}

body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover; /* Para cobrir toda a tela */
    background-attachment: fixed; /* Para fixar o fundo na tela */

}

main{
    height: 100vh;
    position: relative; /* Para centralizar o telefone na tela */
    
}

section#telefone{
    position: absolute; /* Para centralizar o telefone na tela */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Para centralizar o telefone na tela */

    width: 311px;
    height: 627px;
    background: url(../imagens/frame-iphone.png) no-repeat;

}

iframe#tela{
    position: relative;
    top: 79px;
    left: 21px;
    width: 268px;
    height: 472px;
    

}

section#sociais{
    text-align: right;
}

section#sociais img{
    width: 50px;
    height: 50px;
    margin: 15px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #000000bd;
    box-sizing: border-box; /* Para incluir a borda no tamanho total do elemento */
    

}

section#sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.609);
    transform: translate(-3px, -3px); /* Para dar um efeito de movimento ao passar o mouse */
    transition: transform 0.2s; /* Para dar um efeito de transição ao passar o mouse */
    box-shadow: 5px 5px 10px black; /* Para dar um efeito de sombra ao passar o mouse */
}